@define-color crust #11111b;
@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color mauve #cba6f7;

* {
    border: none;
    border-radius: 0px;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

#workspaces {
    border-radius: 10px;
    background-color: @base;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px;
    padding-left: 24px;
}

#workspaces button {
    color: @text;
}

#workspaces button.active {
    color: @crust;
    background-color: @mauve;
    font-weight: 800;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

#window,
#workspaces,
#tray,
#network,
#pulseaudio,
#cpu,
#memory,
#disk,
#battery,
#language,
#clock,
#custom-lock {
    color: @text;
}
