@define-color crust #11111b;
@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color pink #f5c2e7;
@define-color green #a6e3a1;
@define-color flamingo #f2cdcd;

* {
  border: none;
  border-radius: 0px;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
}

#workspaces {
  border-radius: 10px;
  background-color: @base;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 24px;
  padding-left: 24px;
}

#workspaces button {
  color: @text;
}

#workspaces button.active {
  color: @crust;
  background-color: @mauve;
  font-weight: 800;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

#workspaces,
#tray,
#network,
#pulseaudio,
#cpu,
#memory,
#disk,
#battery,
#language,
#clock,
#custom-lock {
  color: @text;
}

#custom-lock,
#custom-shutdown {
  color: @red;
  background-color: @base;
}

#custom-lock {
  margin-left: 12px;
  border-radius: 10px 0px 0px 10px;
  padding-right: 8px;
  padding-left: 10px;
}

#custom-shutdown {
  border-radius: 0px 10px 10px 0px;
  padding-right: 10px;
}

#language,
#clock {
  background-color: @base;
  color: @lavender;
}

#language {
  background-color: @base;
  padding-right: 6px;
  padding-left: 10px;
  border-radius: 10px 0px 0px 10px;
  margin-left: 12px;
}

#clock {
  background-color: @base;
  padding-right: 10px;
  border-radius: 0px 10px 10px 0px;
}

#disk,
#cpu,
#memory {
  background-color: @base;
  color: @blue;
}

#memory {
  padding-right: 10px;
}

#disk {
  border-radius: 0px 10px 10px 0px;
  padding-right: 10px;
}

#cpu {
  border-radius: 10px 0px 0px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#pulseaudio,
#network,
#tray {
  background-color: @base;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 12px;
}

#pulseaudio {
  color: @pink;
}

#network {
  color: @green;
}

#battery {
  background-color: @base;
  color: @flamingo;
  margin-left: 12px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#window {
  border-radius: 10px;
  background-color: @base;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 12px;
}
